<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/milligram.css') }}">
  </head>
  <body class="container">
    <h1>Input Data</h1>
    {% if not add_done %}
    <form action="/tambah-data-relasi" method="POST">
      <div>
        <label for="id_relation">Kode Stok:</label>
        <input type="text" name="id_relation" id="id_relation" value="{{ data['id_relation'] if data }}" required />
      </div>
      <div>
        <label for="tipe">Tipe / Nama Mobil:</label>
        <input type="text" name="tipe" id="tipe" value="{{ data['tipe'] if data }}" />
      </div>
      <div>
        <button>Tambah</button>
      </div>
    </form>
    {% else %}
      <div>
        Data telah ditambahkan!
      </div>
    {% endif %}
    <a href="/">Kembali ke Home</a>
  </body>
</html>
