<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hapus Data</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/milligram.css') }}"
    />
  </head>
  <body class="container">
    <h1>Hapus Data Karyawan</h1>
    {% if data %}
    <div>
      Data NIP {{ data['nip'] }} dengan nama karyawan {{ data['nama'] }}
      berhasil di hapus!
    </div>
    {% endif %}
    <a href="/">Kembali ke Home</a>
  </body>
</html>
